 <div class="container">

    <h3>
      Kinship 2017 Elections
    </h3>

    <p>
        Kinship holds elections every year during Kampmeeting. This year the following positions are up for election. 
        Select each position to learn more. 
    </p>

    


      <div class="row">
          <div class="col-sm-8">
              <div class="container-fluid text-center">

                  <!-- Container (Pricing Section) -->
                  <div id="president" class="container-fluid bg-grey">
                    <div style="text-align: left">
                      <h3>
                        <a data-toggle="collapse" data-target="#resp1">
                        President    </a>
                        </h3>

                        <div id="resp1" class="collapse">
        

                            Responsibilities:
                          <ul> 
                            <li>Serve as Chief Executive Officer of the corporation</li>
                            <li>Represent the corporation in dealing with other corporations and businesses, including the signing of contracts</li>
                            <li>Sit in an ex officio capacity, without vote, on all committees except the Nominating Committee</li>
                            <li>Coordinate and chair membership meetings, Board meetings, and Executive Committee meetings, when present</li>
                            <li>Maintain communication with the Board between meetings</li>
                            <li>Report regularly to the membership.</li>
                          </ul>
                          
                        </div>
                    </div>
                  </div>
                  
                  <!-- Container (Discounts Section) -->
                  <div id="vicepresident" class="container-fluid text-center">
                    <div style="text-align: left">
                        <h3>
                          <a data-toggle="collapse" data-target="#resp2">
                          Vice President    </a>
                        </h3>

                        <div id="resp2" class="collapse">

                            Responsibilities:
                          <ul> 
                            <li>Assist the President in her or his duties</li>
                            <li>Perform the functions of the President in the event of her/his absence, unavailability, or inability to perform the duties of the office</li>
                            <li>Chair the Member Services Committee</li>
                            <li>Perform other duties as designated by the President</li>
                          </ul>

                        </div> 
                    </div>
                  </div>
                  <!-- Container (scholarships Section) -->
                  <div id="churchRelations" class="container-fluid bg-grey">
                    <div style="text-align: left">
                       <h3>
                          <a data-toggle="collapse" data-target="#resp3">
                            Director of Church Relations    
                          </a>
                        </h3>

                        <div id="resp3" class="collapse">
                      Responsibilities
                        <ul>
                          <li>Act as the chief liaison between Kinship and the Seventh-day Adventist church
                          </li>
                          <li>Monitor or facilitate monitoring the affairs of the Seventh-day Adventist church and report regularly to the 
                            President and/or the Board and/or the organization’s newsletter
                          </li>
                          <li>Assist the Director of Kampmeeting with the identification and procurement of clergy for Kampmeeting 
                            participation, and assist with their education and preparation
                          </li>
                          <li>Maintain a list of, and keep in contact with, clergy who have attended Kampmeeting and with other clergy and 
                            denominational employees who are supportive of Kinship</li>
                          <li>Act as a conduit for communication with the Seventh-day Adventist Church</li>
                          <li>Serve on the Kampmeeting Committee </li>
                          <li>Chair the Advisory Council and facilitate communication between the Board and the Council.</li>
                          </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Container (scholarships Section) -->
                  <div id="womens" class="container-fluid">
                    <div style="text-align: left">
                        <h3>
                          <a data-toggle="collapse" data-target="#resp4">
                           Women's Director
                          </a>
                        </h3>

                        <div id="resp4" class="collapse">

                        <ul>
                          <li>Serve as an advocate for women’s issues and 
                            concerns within the organization
                          </li>

                          <li>Assist in the facilitation of networking and 
                            encourage and support participation among women members
                          </li>

                          <li>Organize, facilitate, or delegate activities to implement the above
                          </li>
                          <li>Advise and assist the Director of Communications in regard to outreach to women
                          </li>
                        </ul>
                    </div>
                  </div>

                  </div>
              </div>

            </div>
               <div class="col-sm-4">
              <div class="container" style="text-align: left">
                <p>
                  If you are willing to run for any of the open positions:
                  <br />
                  <a href="https://goo.gl/forms/zmjnwUgrvskkmxTO2" target="_blank" class="btn btn-success btn-lg">
                  Apply Here
                  </a>
                  
                </p>    
              </div>
          </div>
          </div>
       
      </div>
 </div>
