<div>
<h3>
Frequently Asked Questions about SDA Kinship    </h3>

<a data-toggle="collapse" data-target="#faq1">
    What does Kinship strive to do?
</a>

<div id="faq1" class="collapse">
Kinship is a support organization reaching out to perhaps those most ostracized by the Seventh-day Adventist (SDA) Church: former and current church members who are lesbian, gay, bisexual or transgendered (LGBT). Kinship shares that a different view exists -- a Biblically sound view of love and acceptance.
</div>

<br />
<a data-toggle="collapse" data-target="#faq2">When was Kinship started and why?</a>

<div id="faq2" class="collapse">
Kinship was formed to provide a loving and inclusive support community for Seventh-day Adventist gay people and their supportive friends and family — an important ministry untouched by the corporate Seventh-day Adventist Church. Kinship was founded in 1976 and was incorporated as a nonprofit organization in 1981. (see A Brief history of Kinship) It is managed by a volunteer board of directors and regional coordinators. Its current list of members and friends includes over 1800 people in 62 countries.
</div>

<br />

<a data-toggle="collapse" data-target="#faq4">Is Kinship a "change" or "ex-gay" ministry?</a>

<div id="faq4" class="collapse">
Kinship is not a "change" or "ex-gay" ministry and is not associated with any such organizations. Kinship believes that LGBT people are created as God intended and should not be subjected to mistreatment or discrimination.
It is also of interest to note that these organizations, among hundreds of others, have spoken out against "reparative," "change," and "ex-gay" treatments and advocate for stopping such practices: American Psychiatric Association; American Psychological Association; American Medical Association; National Mental Health Association; and American Academy of Pediatrics.

</div>
<br />

<a data-toggle="collapse" data-target="#faq3">What is Kinship's relationship to the Seventh-day Adventist Church?
</a>

<div id="faq3" class="collapse">
Kinship currently has no formal connection with the Seventh-day Adventist Church and does not receive any support from the General Conference of Seventh-day Adventists or its constituent churches. Kinship, however, is grateful to receive individual support from many church leaders, pastors, members, educators and churches.
</div>

<br />

<a data-toggle="collapse" data-target="#faq6">
    Has Kinship ever initiated a lawsuit against the SDA Church?
</a>

<div id="faq6" class="collapse">
No, Kinship has never sued the Seventh-day Adventist Church or ever planned to sue the church. This myth is often perceived because in 1987 the Seventh-day Adventist Church filed legal action with the State of California in an attempt to prohibit SDA Kinship from using the name "Seventh-day Adventist" and the abbreviation "SDA." On October 3, 1991, United States District Judge Mariana R. Pfaeizer ruled that Seventh-day Adventist Kinship International, Inc. did not infringe on the Seventh-day Adventist Church's use of the name and that Kinship may continue to use the identifying name. (The complete text of the judge's decision is available upon request.)
</div>

<br />

<a data-toggle="collapse" data-target="#faq5">Doesn't the Bible say being gay is a sin?
</a>

<div id="faq5" class="collapse">

Actually, the Bible is silent on the issue of homosexuality and sexual orientation. Many Seventh-day Adventist Christians, from laypeople to seminary professors, have studied the Bible texts believed to reference homosexual acts and conclude that what the Bible does not say is as important as what it does say. The Bible clearly speaks against lust in any form, but nowhere does it condemn or even mention homosexuality as a sexual orientation. Early church leader Ellen G. White also does not condemn homosexuality nor does she correspond homosexuality with any of the Biblical texts often used to condemn and mistreat gay people.
</div>



</div>