<div>
<h3>
    Brief History of Kinship
</h3>

<p>In the early 1970s several Adventist gay people independently began to look for other Adventists with whom they could discuss their feelings. One placed a single, small notice in the classified section of The Advocate, a national gay news magazine. It resulted in 37 responses from all areas of the United States and Canada; all were current or former Adventists.
</p>

1976– SDA Kinship was founded with a meeting in Palm Desert, California, as a result of an ad placed by two gay Adventist men. Within four months Kinship had 75 members, a temporary chairperson, and four committees: membership, educational, social, and spiritual; and the new group met twice a month. Kinship soon joined forces with an individual in northern California who had established a gay SDA pen-pal list throughout the United States, and another group that had been meeting informally in New York City since 1974.
<br />
1978– SDA Kinship publishes an official newsletter, later to become known as the Connection. In 1985, the Connection was first produced on a computer.
<br />
1980– The first annual Kampmeeting was held in Arizona. At SDA Kinship’s request, two Adventist pastors and three seminary professors attended as official delegates of the General Conference. Thirty-five courageous members attended this historic meeting, breaking ground for the larger numbers that now attend with less apprehension.
<br />
1981 – Seventh-day Adventist Kinship International was incorporated.
<br />
1987 – The Seventh-day Adventist Church filed legal action in a federal district court in California against SDA Kinship for trademark infringement.
<br />
1990 – SDA Kinship participated in the first church-sponsored AIDS conference. As the organization became impacted by the AIDS epidemic we developed a quilt to memorialize members who were lost to AIDS. The Kinship AIDS quilt has been displayed in several Adventist churches.
<br />
1991 – SDA Kinship won a lawsuit brought against it by the General Conference, which sought to bar Kinship from using “Seventh-day Adventist” as part of its name. A California judge ruled in favor of Kinship, stating that there was no trademark infringement and allowed Kinship to continue use of its official name.
<br />
1992 – Kinship online service was developed, first as an email listserv, and later as an online discussion and chat group called KinNet.
<br />
1997- Carrol Grady, author of My Son, Beloved Stranger (1995), started a support group for parents and families of gays and lesbians, which included a monthly newsletter and later an email group and the website, Someone-to-Talk-To.org. 
<br />
2000– First IMRU? group for gay Adventists ages 18-29, in 2001 became official SDA Kinship chapter
<br />
2000– SDA Kinship’s first website developed
<br />
2001– Beginning of “Women & Children First” weekend preceding SDA Kinship Kampmeeting as a social time for Kinship women and their children.
<br />
2002- First European Kinship Meeting in Tunhem, Sweden
<br />
2003– Kinship’s new logo created
<br />
2008 – SDA Kinship coordinated the publication of the book, Christianity and Homosexuality: Some Seventh-day Adventist Perspectives. The book has been sold and distributed to numerous pastors, educators, and libraries; and it triggered a one-sided conference on homosexuality at Andrews University in October 2009, to which no Kinship members or book editors were invited or asked to participate.
<br />
2009-2012– Straight allies Stephen Eyer and Daneen Akers, professional filmmakers, produced the documentary Seventh-Gay Adventists: A film about faith on the margins, and began screenings in strategic locations across the United States and in other countries.
<br />
2012– Groups of students on Adventist college and university campuses formed a network of official and unofficial gay-straight alliances from different Adventist campuses to provide resources, programs, and support for LGBTIQ students, and organized the Intercollegiate Adventist Gay-Straight Alliance Coalition (IAGC) to bridge the gap between our Seventh-day Adventist faith-based institutions and the LGBTIQ students who are in attendance.
<br />
Present – SDA Kinship has a board of directors, regional coordinators, and chapter leaders in the United States and in other countries. At the time of this writing (2012) SDA Kinship has 2270 registered members, including both LGBTI and straight allies, plus thousands more individuals who benefit from our website and its resources.
<br />
SDA Kinship’s goals for the future are reflected in its stated mission: to [provide] a safe spiritual and social community to lesbian, gay, bisexual, transgender, and intersex current and former Seventh-day Adventists around the world. This means reaching them, including those rejected and sent away by the organized church, with the news that a different view exists, a biblically sound view of love and acceptance.

 

</div>