<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Kampmeeting</h2><br>      
      <h4>Kinship organizes an annual conference called Kampmeeting. This valuable time together allows members to meet, renew friendships and enjoy activities, worship, music, entertainment and good food, including vegetarian fare.</p>
      <br>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
</div>

<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid bg-grey">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>NOTE: Pricing does not include food or lodging</h4>
    <p>

    </p>
  </div>
  <div class="row slideanim">    
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3> Early Bird         
          </h3>
        </div>
        <table class="table table-responsive table-hover" style="text-align: left">
          <tr>               
            <td>THURSDAY</td>
            <td><strong>$54 </strong></td>
          </tr>   
          <tr>
            <td>FRIDAY</td>
            <td>$72</td>
          </tr>
          <tr>
            <td>SATURDAY</td>
            <td>$72</td>
          </tr>
          <tr>
            <td>FULL KM </td>
            <td>$180 </td>
          </tr>
          <tr> 
            <td colspan="2" style="text-align: center">Sale Ends - Mar. 31, 2017 </td>            
          </tr>                                    
        </table>            
      </div>      
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3> Regular   
          </h3>
        </div>
        <table class="table table-responsive table-hover" style="text-align: left">
          <tr>               
            <td>THURSDAY</td>
            <td><strong>$60 </strong></td>
          </tr>   
          <tr>
            <td>FRIDAY</td>
            <td>$80</td>
          </tr>
          <tr>
            <td>SATURDAY</td>
            <td>$80</td>
          </tr>
          <tr>
            <td>FULL KM </td>
            <td>$200 </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">Sale Ends - May 31, 2017  </td>            
          </tr>                                    
        </table>            
      </div>      
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3> Last Minute        
          </h3>
        </div>
        <table class="table table-responsive table-hover" style="text-align: left">
          <tr>               
            <td>THURSDAY</td>
            <td><strong>$66 </strong></td>
          </tr>   
          <tr>
            <td>FRIDAY</td>
            <td>$88 </td>
          </tr>
          <tr>
            <td>SATURDAY</td>
            <td>$88 </td>
          </tr>
          <tr>
            <td>FULL KM </td>
            <td>$220  </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: center">Ends - June 30 2017 </td>            
          </tr>                                    
        </table>            
      </div>      
    </div>   
  </div>
  <div class="row" style="text-align: center">
    <div>
        <a href="" class="btn btn-xl btn-success" style="width: 250px; height: 50px; font-size: large; vertical-align: middle"> Register Now </a>
    </div>
  </div>
  <div>
    <ul>
      <li> 
        KAMPMEETING FEES FOR CHILDREN (this does not include lodging)
        Children UNDER 18 are free
      </li>
      <li> 
        FAMILY/FRIENDS
          Family and Friends are welcome as guests of Kinship on Saturday.  Registration is required.

          Sabbath lunch - Family/Friends, upon submitting a receipt that day will be reimbursed up to $15.      
      </li>
    </ul>    
  </div>
</div>


<!-- Container (Discounts Section) -->
<div id="discounts" class="container-fluid text-center">
  <h2>Special Discounts</h2>
  <div class="row slideanim">
    <div class="col-sm-4">      
      <h4>First-Time Attendee</h4>
      <p>Bring a friend or family member! When you register for full
         Kampmeeting, you may register a first-time attending friend or family member for $100.</p>
    </div>
    <div class="col-sm-4">      
      <h4>Student</h4>
      <p>Student tickets at $100 (full Kampmeeting only) are available 
        to currently enrolled students (undergraduate or graduate level). Kinship reserves the right to require verification of enrollment in order to receive this rate.</p>
    </div>
    <div class="col-sm-4">
      <h4>Evening </h4>
      <p>For those who can only come to Kampmeeting after dinner, the
         price is $40 per day. If you register before March 31, 2017, you can receive a 10% discount and only pay $36 per day.</p>
    </div>
  </div> 
  <div class="row">
    <a href="" class="btn btn-xl btn-success" style="width: 250px; height: 50px; font-size: large; vertical-align: middle"> Register Now </a>
  </div> 
</div>

<!-- Container (scholarships Section) -->
<div id="scholarships" class="container-fluid bg-grey">
  <div class="text-center">
    <h2>Scholarships</h2>
  </div>
  <div class="row slideanim">
    <p>
      Each year, financial challenges prevent many people from attending SDA Kinship Kampmeeting and experiencing the incredible love of being with this community. For those individuals, we offer a limited number of scholarships to help make  attending the conference more manageable and affordable.
      </p>
      <p>
      This year, we will only be providing a partial or full scholarship for the Kampmeeting ticket only. We are not able to provide for food, lodging, or transportation. Scholarship recipients may be required to volunteer for several hours during Kampmeeting.
    </p> 
  </div>
  <div class="row">
    <div class="text-center">
    <a href="" class="btn btn-xl btn-success" style="width: 250px; height: 50px; font-size: large; vertical-align: middle"> Apply for a Scholarship </a>    
    </div>
  </div>
</div>

<!-- Container (scholarships Section) -->
<div id="lodging" class="container-fluid">
  <div class="text-center">
    <h2>Lodging</h2>
  </div>
  <div class="row slideanim">

    <div class="col-sm-7">
      <p style="font-weight: bold">
        Courtyard San Diego Mission Valley/Hotel Circle: 
        <br />595 Hotel Cir S, San Diego, CA 92108 
        <br />(619)291-5720
      </p>                    
      <p>
        <strong>
          HOTEL RATES for attendees: $159/night
          </strong>
          <br />
          **This rate will also be available to attendees 3 days prior to the event and 3 days after the event.
          We have a block of rooms reserved but it is on a first come, first served basis, so reserve early!
        </p>
        <p> <strong>
          TO MAKE RESERVATIONS:
          </strong><br />
          Each guest must make his or her own reservations by calling 1-800-321-2211 or booking online. Book your room(s) for SDA Kinship Kampmeeting, here. Guests must identify themselves as with the SDA Kinship Int'l group and pay a first-night room deposit or guarantee with a major credit card. Cancellations must be made at least 24 hours before 6 pm of the check-in date or the hotel may charge the credit card for one night's stay plus applicable taxes.
        </p>
    </div>

  <div class="col-sm-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13420.021607262093!2d-117.17062265376236!3d32.7655911936002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9552c06a2002b%3A0xfde5e938bfe95461!2sCourtyard+San+Diego+Mission+Valley%2FHotel+Circle!5e0!3m2!1sen!2sus!4v1484333632003" width="480" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
  </div>
</div>

<!-- Container (scholarships Section) -->
<div id="moreinformation" class="container-fluid bg-grey">
  <div class="text-center">
    <h2>More Information</h2>
  </div>
  <div class="row">
    <p>
      We work hard to keep the cost as low as possible so everyone can attend. If you can afford to give more, please donate to the Kampmeeting Scholarship Fund at www.sdakinship.org or by mail to  PO Box 244, Orinda, CA 94563-0244 USA to make it possible for others to attend—they need your help!
    </p>    
  </div>
  <div class="row">
    <div class="text-center">
    <a href="" class="btn btn-xl btn-success" style="width: 250px; height: 50px; font-size: large; vertical-align: middle"> Donate </a>    
    </div>
  </div>
</div>

<!-- Container (archives Section) -->
<div id="archives" class="container-fluid text-center">
  <h2>Kampmeeting Archives</h2>
  <div class="row">
    <div class="col-sm-4">      
      <h4>Baltimore 2015</h4>
        </div>
    <div class="col-sm-4">      
      <h4>Pomona 2014</h4>
      </div>
    <div class="col-sm-4">
      <h4>Atlanta 2013 </h4>
        </div>
  </div> 
</div>