<div>
<h3> Welcome To Kinship </h3>


<h4> Our Beliefs</h4>
<ul class="list-unstyled">
<li> 
<strong>
    Community, Not Conformity
</strong>

</li>
<li>
    <strong>
    Acceptance, regardless of Agreement
</strong>
</li>
<li>
    Confidentiality
</li>
</ul>
<p>
    Learn more about our code of conduct</p>

<h4> Explore </h4>



<div class="row">
    <div class="col-sm-4">
        <h5>Connect with Members</h5>
    </div>

    <div class="col-sm-4">
        <h5>View Kampmeeting Archives</h5>
    </div>

    <div class="col-sm-4">
        <h5>Connect on Social Media</h5>
        <p>
            We have a number outlets for members to connect on social media: Facebook, WhatsApp, et...
        </p>
    </div>
</div>




</div>