<div>
What member services does Kinship provide?
<br />

Kinship provides assistance and support through suggested reading materials, personal dialog, professional counseling referrals and through its network of supportive members. Below are some of its member services and activities:
<br />

Connection Newsletter—Members receive Kinship's newsletter, Connection, which contains editorials, letters, articles, book reviews, news and announcements. A directory of Kinship officers, including regional coordinators, appears in each issue. In addition to Connection, many Kinship regional coordinators produce their own newsletters for local members.
<br />

Kinship Online—Kinship provides its members with an online community that members can learn more about Kinship, LGBTI resources and can communicate with other Kinship members. Some of the favorite features are the very active secret Facebook groups.
<br />

Kinship Kampmeeting—Kinship organizes an annual conference called Kampmeeting. This valuable time together allows members to meet, renew friendships and enjoy activities, worship, music, entertainment and good food, including vegetarian fare. In addition to the annual U.S. Kampmeeting, meetings are also held in Europe, Australia, and other parts of the world.
<br />

Regional Activities—Kinship proudly has members throughout the United States and an increasing number of members in other areas of the world. To help communicate and reach out to its diverse membership, Kinship uses a system of regions. Currently there are nine United States regions and organized outreach efforts in Canada, Germany, Netherlands and Australia. Coordinators and members within these areas help communicate with members and often sponsor meetings, socials, picnics, potluck dinners, workshops, worship and recreational activities. The frequency and type of activities depend largely on the number and proximity of members living within each region.
<br />

Outreach Programs—Our outreach programs for college-age young people and our educational programs for pastors, teachers and counselors are intended to provide information, dialogue, counsel and sympathetic understanding. We continue to provide what cannot yet be generally found within the organized Seventh-day Adventist Church: compassionate support for its members who happen to be gay.
<br />

Commitment to SDA gays—Kinship hopes to lessen the pain that often accompanies the realization that one is gay and a Seventh-day Adventist. We understand the difficulties faced in reconciling one's sexual orientation and spirituality and extend good news that a happy, fulfilling, healthy and Christian life is possible for openly gay people. Kinship is not a "change" or "ex-gay" ministry.
<br />

Kinship is also concerned with the special issues facing parents and families of LGBTI people within the context of Adventism. And in the era of HIV/AIDS, Kinship provides specialized support for those touched directly or indirectly by this disease.
<br />

Commitment to the SDA Church—Kinship advocates for the understanding and affirmation of LGBTI Adventists among themselves and within the Seventh-day Adventist community through education and reconciliation. Kinship lovingly attempts to educate the Seventh-day Adventist Church about homosexuality and the needs and feelings of its LGBTI members and former members while hoping to eliminate homophobia and discrimination based on gender identity and sexual orientation.
</div>